:root {
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: $main-color;
}

header {
  margin: 1rem auto;
  max-width: $main-width;
}

main {
  margin: 1rem auto;
  margin-bottom: 1rem;
  max-width: $main-width;
}

footer {
  margin: 1rem auto;
  max-width: $main-width;
}

picture {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-family: "Almendra", serif;
  font-style: normal;
  font-weight: 400;
  color: $title-color;
}

p {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: $text-color;
  line-height: 1.6;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $text-color;
}

a i {
  font-style: normal;
}

.hidden {
  display: none;
}